@import "footer";
@import "registration";


body{
  background-image: url("../img/bg@1X.png");
}
.container{
  margin: auto;
  background: #F0F0F0;
  width: 1280px;
  height: 3150px;
}
.top-bar{




  background: #333333;
  font-size: 12px;
  line-height: 20px;
  color: #999999;
  font-family: "Helvetica Neue";


}
.top{
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  margin: auto;
  width: 938px;
  height: 35px;
}
.secondary-nav{
  margin: auto;
}
.secondary-nav:nth-child(8){
  grid-column-start: 11;
  grid-column-end: 13;
  a{
    text-decoration: none;
    color: #999999;
  }
}
.secondary-nav a:hover{
  color: #E4E4E4;
}


.secondary-nav:nth-child(6){
  position: relative;
  display: inline-block;

}
.secondary-nav:nth-child(7){
  grid-column-start: 7;
  grid-column-end: 9;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  width: 85px;
  height: 136px;
  border-radius: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 20px;
  z-index: 1;
}
.dropdown-content a{
  text-decoration: none;
  color: #999999;
}
.dropdown-content a:hover{
  text-decoration: none;
  color: #c5c5c5;
}

.secondary-nav:nth-child(6):hover .dropdown-content {
  display: block;
}
.header{
  background: #F0F0F0;

}

.header-banner{
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  margin: auto;
  width: 938px;
  height: 150px;
}
.banner img{
  width: 365px;
  margin-left: 25px;
}
.banner{
  margin: auto;
  grid-column-start: 8;
  grid-column-end: 12;

}
.logo{
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 3;
}
.navigation{
  display:  grid;
  grid-template-columns: repeat(11,1fr);
  width: 938px;
  height: 45px;
  margin: auto;
  background: #3B3B3B;

}
.nav{
  margin: auto;
  color: #ACACAC;

}
.navigation a{
  text-decoration: none;
  color: #ACACAC;

}
.navigation .nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #383838;
  width: 85px;
  height: 136px;
  border-radius: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 20px;
  z-index: 1;
  bottom: 111px;
}
.navigation .nav .dropdown-content a{
  text-decoration: none;
  color: #999999;
}
.navigation .nav .dropdown-content a:hover{
  text-decoration: none;
  color: #c5c5c5;
}

.navigation .nav:nth-child(5):hover .dropdown-content {
  display: block;
}
.line{
  width: 938px;
  height: 10px;
  background: #414141;
  margin: auto;
}
.posts{
  width: 940px;
  height: 480px;
  background-image:url("../img/bg@1X.png") ;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);

}
.big-square{
margin: auto;
grid-column-start:1;
grid-column-end:5;
grid-row-start:1;
grid-row-end: 12;


}
.big-square img{
height: 380px;
position: relative;
left: 25px;
  top:15px;
}
.square-1{
  width: 58px;
  height: 48px;
  background: white;
  grid-column-start:8;
  grid-column-end:9;
  grid-row-start:10;
  grid-row-end: 12;
  margin-left: 25px;
}
.square-2{
  width: 58px;
  height: 48px;
  background: white;
  grid-column-start:9;
  grid-column-end:10;
  grid-row-start:10;
  grid-row-end: 12;
  margin-left: 10px;
}
.square-3{
  width: 58px;
  height: 48px;
  background: white;
  grid-column-start:10;
  grid-column-end:11;
  grid-row-start:10;
  grid-row-end: 12;
  margin-left: 10px;
}
.square-4{
  width: 58px;
  height: 48px;
  background: white;
  grid-column-start:11;
  grid-column-end:12;
  grid-row-start:10;
  grid-row-end: 12;
  margin-left: 10px;
}
.square-5{
  width: 58px;
  height: 48px;
  background: white;
  grid-column-start:12;
  grid-column-end:13;
  grid-row-start:10;
  grid-row-end: 12;
  margin-left: 10px;
  margin-right: 25px;
}
.post-nav{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column-start:8;
  grid-column-end:13;
  grid-row-start:2;
  grid-row-end: 3;
  margin-left: 35px;
  color: #525252;

}
.post-nav a{
  font-size: 11px;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 10px;
  color: #7F7F7F;
}
.post-nav a:hover{
  color: #CCCCCC;
}
.topic{
  font-size: 22px;
  word-spacing: 5px;
  line-height: 30px;
  color: #DDDDDD;
  padding-left:35px;
  grid-column-start:8;
  grid-column-end:13;
  grid-row-start:3;
  grid-row-end: 5;
}

.text{
  line-height: 22px;
  font-size: 12px;
  color: #ADACAC;
  padding-left: 35px;
  grid-column-start:8;
  grid-column-end:13;
  grid-row-start:6;
  grid-row-end: 9;
}

.slider{
  background-image:url("../img/base@1X.png");
  margin: auto;
  width: 939px;
  height: 300px;

}
.slider_show{
  margin: 20px;
  border: 1px solid #D2D2CE;
  width: 188px;
  height: 255px;
}
.slider_show img{
  margin-left: 23px;
  margin-top: 20px;
}
.slider_show  .tx{
  text-align: left;
  font-size: 12px;
  margin-left: 23px;

  line-height: 20px;

}

.slider_show .tx a{
  text-decoration: none;
  color: #362F2D;

}
.slider_show .tx a:hover{
  color: #CC6600;
}

 .ps{
   display: flex;




   color: #525252;
}
 .ps p{
   margin-left: 23px;
   margin-top: 10px;
   line-height: 15px;
 }



 .ps a{
   font-size: 11px;
   text-decoration: none;
   color: #9C9997;
 }
 .ps a:hover{
   color: #5B5B5B;
 }

.prev{
   position: absolute;
   top: 40%;
   right:100%;
   margin-right: 20px;

 }
.next{
  position: absolute;
  top: 40%;
  left:100%;
  margin-left: 20px;

}
.content{
  width: 960px;
  height: 1511px;
  margin: auto;
  display: grid;
  background: #FFFFFF;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);

  .record-1{

    .caption{
      display: flex;
      width: 260px;
      height: 20px;

      h4{
        position: relative;
        left: 30px;
        top: 10px;
        color: #333333;

      }
      h4:hover{
        color: #CC6600;
      }
      p{
        color: #999999;
        position: relative;
        top: 15px;
        left: 155px;
      }
      p:hover{
        color: #5D5D5D;
      }
    }
    img{
      position: relative;
      top: 10px;
      margin-left:30px;
    }
    .d{
      position: relative;
      top:10px;
      left: 30px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    h6{
      position: relative;
      left: 30px;
      color: #333333;
    }
    h6:hover{
      color: #CC6600;
    }
    .ps{
      position: relative;
      top: 20px;
      right: 25px;
    }
    p{
      position: relative;
      left: 30px;
      bottom: 45px;
      font-size: 12px;

    }
    .dh{
      position: relative;
      left: 30px;
      bottom: 45px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    .cp-1{
      color: #333333;
      position: relative;
      bottom: 50px;

    }
    .dhh{
      position: relative;
      left: 30px;
      bottom: 45px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;

    }
    .cp-1:hover{
      color: #CC6600;
    }
    .cp-2{
      color: #333333;
      position: relative;
      bottom: 50px;
    }
    .cp-2:hover{
      color: #CC6600;
    }
    .ddhh{
      position: relative;
      left: 30px;
      bottom: 45px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
  }
  .record-2{
    .caption{
      display: flex;
      width: 260px;
      height: 20px;

      h4{
        position: relative;
        left: 30px;
        top: 10px;
        color: #333333;

      }
      h4:hover{
        color: #CC6600;
      }
      p{
        color: #999999;
        position: relative;
        top: 15px;
        left: 155px;
      }
      p:hover{
        color: #5D5D5D;
      }
    }
    img{
      position: relative;
      top: 10px;
      margin-left:30px;
    }
    .d{
      position: relative;
      top:10px;
      left: 30px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    h6{
      position: relative;
      left: 30px;
      color: #333333;
    }
    h6:hover{
      color: #CC6600;
    }
    .ps{
      position: relative;
      top: 20px;
      right: 25px;
    }
    p{
      position: relative;
      left: 30px;
      bottom: 45px;
      font-size: 12px;

    }
    .dh{
      position: relative;
      left: 30px;
      bottom: 45px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    .cp-1{
      color: #333333;
      position: relative;
      bottom: 50px;

    }
    .dhh{
      position: relative;
      left: 30px;
      bottom: 45px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;

    }
    .cp-1:hover{
      color: #CC6600;
    }
    .cp-2{
      color: #333333;
      position: relative;
      bottom: 50px;
    }
    .cp-2:hover{
      color: #CC6600;
    }
    .ddhh{
      position: relative;
      left: 30px;
      bottom: 45px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
  }
  .record-3{
    .caption{
      display: flex;
      width: 260px;
      height: 20px;

      h4{
        position: relative;
        left: 30px;
        top: 10px;
        color: #333333;

      }
      h4:hover{
        color: #CC6600;
      }
      p{
        color: #999999;
        position: relative;
        top: 15px;
        left: 155px;
      }
      p:hover{
        color: #5D5D5D;
      }
    }
    img{
      position: relative;
      top: 10px;
      margin-left:30px;
    }
    .d{
      position: relative;
      top:10px;
      left: 30px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    h6{
      position: relative;
      left: 30px;
      color: #333333;
    }
    h6:hover{
      color: #CC6600;
    }
    .ps{
      position: relative;
      top: 20px;
      right: 25px;
    }
    p{
      position: relative;
      left: 30px;
      bottom: 45px;
      font-size: 12px;

    }
    .dh{
      position: relative;
      left: 30px;
      bottom: 45px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    .cp-1{
      color: #333333;
      position: relative;
      bottom: 50px;

    }
    .dhh{
      position: relative;
      left: 30px;
      bottom: 45px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;

    }
    .cp-1:hover{
      color: #CC6600;
    }
    .cp-2{
      color: #333333;
      position: relative;
      bottom: 50px;
    }
    .cp-2:hover{
      color: #CC6600;
    }
    .ddhh{
      position: relative;
      left: 30px;
      bottom: 45px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
  }
  .record-4{
    .caption{
      display: flex;
      width: 260px;
      height: 20px;

      h4{
        position: relative;
        left: 30px;
        top: 10px;
        color: #333333;

      }
      h4:hover{
        color: #CC6600;
      }
      p{
        color: #999999;
        position: relative;
        top: 15px;
        left: 155px;
      }
      p:hover{
        color: #5D5D5D;
      }
    }
    img{
      position: relative;
      top: 10px;
      margin-left:30px;
    }
    .d{
      position: relative;
      top:10px;
      left: 30px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    h6{
      position: relative;
      left: 30px;
      color: #333333;
    }
    h6:hover{
      color: #CC6600;
    }
    .ps{
      position: relative;
      top: 20px;
      right: 25px;
    }
    p{
      position: relative;
      left: 30px;
      bottom: 45px;
      font-size: 12px;

    }
    .dh{
      position: relative;
      left: 30px;
      bottom: 45px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    .cp-1{
      color: #333333;
      position: relative;
      bottom: 50px;

    }
    .dhh{
      position: relative;
      left: 30px;
      bottom: 45px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;

    }
    .cp-1:hover{
      color: #CC6600;
    }
    .cp-2{
      color: #333333;
      position: relative;
      bottom: 50px;
    }
    .cp-2:hover{
      color: #CC6600;
    }
    .ddhh{
      position: relative;
      left: 30px;
      bottom: 45px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
  }
  .record-5{
    .caption{
      display: flex;
      width: 260px;
      height: 20px;

      h4{
        position: relative;
        left: 30px;
        top: 10px;
        color: #333333;

      }
      h4:hover{
        color: #CC6600;
      }
      p{
        color: #999999;
        position: relative;
        top: 15px;
        left: 155px;
      }
      p:hover{
        color: #5D5D5D;
      }
    }
    .d{
      position: relative;
      top:10px;
      left: 30px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    h6{
      position: relative;
      left: 30px;
      color: #333333;
    }
    .dh{
      position: relative;
      left: 30px;
      bottom: 10px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    .cp-2{
      position: relative;
      bottom: 20px;
    }
    .ddh{
      position: relative;
      left: 30px;
      bottom: 30px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    .cp-3{
      position: relative;
      bottom: 40px;
    }
    .ddhh{
      position: relative;
      left: 30px;
      bottom: 47px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    .cp-4{
      position: relative;
      bottom: 50px;
    }
    .d-h{
      position: relative;
      left: 30px;
      bottom: 55px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    .cp-5{
      position: relative;
      bottom: 60px;
    }
    .dh-h{
      position: relative;
      left: 30px;
      bottom: 60px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
  }
  .record-6{
    .caption{
      display: flex;
      width: 260px;
      height: 20px;

      h4{
        position: relative;
        left: 30px;
        top: 10px;
        color: #333333;

      }
      h4:hover{
        color: #CC6600;
      }
      p{
        color: #999999;
        position: relative;
        top: 15px;
        left: 155px;
      }
      p:hover{
        color: #5D5D5D;
      }
    }
    .d{
      position: relative;
      top:10px;
      left: 30px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    h6{
      position: relative;
      left: 30px;
      color: #333333;
    }
    .dh{
      position: relative;
      left: 30px;
      bottom: 10px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    .cp-2{
      position: relative;
      bottom: 20px;
    }
    .ddh{
      position: relative;
      left: 30px;
      bottom: 30px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    .cp-3{
      position: relative;
      bottom: 40px;
    }
    .ddhh{
      position: relative;
      left: 30px;
      bottom: 47px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    .cp-4{
      position: relative;
      bottom: 50px;
    }
    .d-h{
      position: relative;
      left: 30px;
      bottom: 55px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
    .cp-5{
      position: relative;
      bottom: 60px;
    }
    .dh-h{
      position: relative;
      left: 30px;
      bottom: 60px;
      width: 260px;
      margin: 20px 0;
      padding: 0;
      height: 0;
      border: none;
      border-top: 2px dotted #C2C2C2;
    }
  }
}
.sidebar{

  width: 300px;
  grid-column-start:3;
  grid-column-end:4;
  grid-row-start:1;
  grid-row-end: 4;

  .search{
    width: 320px;
    height: 63px;
    border-bottom: 1px dotted #C2C2C2;
    position: relative;
    top: 50px;
    input{
        height: 36px;
        width: 320px;
        border: 1px solid #D9D9D9;
        border-radius: 2px;
        font-size: 12px;
        color: #A7A7A7;
    }

  }
  .sidebar-img{
    display: flex;
    position: relative;
    top:300px;

    img{
      margin-left: 20px;
      border: 1px solid #999999;
    }
  }
  .sidebar-banner{
    position: relative;
    top: 330px;
    img{
      margin: 27px;
    }
    p{
      position: relative;
      bottom: 15px;
      left: 27px;
      font-size: 12px;
      width: 251px;
      color: #606060;

    }
  }
}

.accordion {
  margin:94px auto 0 auto;
  width:  330px;
  height:300px;
  position:relative;
  input.tab-toggle {
    position:absolute;
    opacity:0;
    &:checked {
      + label {

        background:white;
        .tab-title {
          &:hover {
            background:transparent;
          }
        }
        .tab {
          visibility:visible;
          opacity:1;
        }
      }
    }
  }
  label {
    float:left;
    font-size:14px;
    line-height:16px;
    border-radius:3px 3px 0 0;
    &:first-of-type {
      .tab {
        border-bottom:none ;
        border-radius:0 3px 3px 3px;
      }
    }
    .tab-title {
      left: 10px;
      display:block;
      width: 68px;
      height: 42px;
      padding:5px;
      border: 1px solid #D9D9D9;
      border-radius:3px 3px 0 0;
      p{
        margin-left: 10px;
        color: #505050;
      }
      &:hover {

        cursor:pointer;
        background:rgba(0,0,0,.1);
      }
    }
  }
  .tab {
    visibility:hidden;
    opacity:0;
    position:absolute;
    padding:22px;
    top:53px;
    left:0;
    width: 280px;
    height:437px;


    background:white;
    border-radius:3px;
    .sidebar-right{
      position: relative;
      right: 22px;
      bottom: 21px;
      display: flex;
      border: 1px solid #D9D9D9;
      width: 320px;

      img{
        width: 45px;
        height: 45px;
        position: relative;
        left: 10px;
        top: 15px;
      }
      .sidebar-rh{
        margin-left: 15px;
        p{
          color: #505050;
          margin-left: 20px;
          font-size: 12px;
        }
        p:hover{
          color: #CC6600;
        }
      }
    }
  }

}



